html {
  display: block;
}
body {
  margin: 0;
}
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  margin-right: 12px;
}
.logo span {
  color: MediumAquamarine;
}
header nav {
  padding-right: 40px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: black;
}
